{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta property="og:type" content="place" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:image" content="{{ SITEURL }}/{{ PANNELLUM.sizes_folder }}/{{article.scene}}/{{article.scene}}-preview.jpg" />
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    {% endfor %}
    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
{% endblock %}

{% block title %}
    {{ article.title}} &mdash; {{ SITENAME }}
{% endblock title %}

{% block content %}
<section id="content">
{% include 'previous-next.html' %}

<article>
  <div class="pure-g">
      <div class="pure-u-1">
          <header>
              {% include 'metadata.html' %}
          </header>
      </div>
  </div>

  <div class="pure-g">
      <div class="pure-u-1">
          <p>{{ article.content }}</p>
      </div>
  </div>

</article>
</section>

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{% endblock javascript %}
