<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300:300italic:700" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pure-min.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/grids-responsive-old-ie-min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog-old-ie.css" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/grids-responsive-min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tables-min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygmentize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/app.css" />
    <!--<![endif]-->
    <!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" />-->
    <script src="{{ SITEURL }}/helper.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.js"></script>
    <meta property="og:site_name" content="{{ SITENAME }}" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}
    <link rel="dns-prefetch" href="//tiles.4pi.org/" />
</head>

<body>
<div id="wrap">
    <header class="custom-wrapper pure-g" id="menu">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pure-menu">
                <h1 class="home">
                    <a class="pure-menu-heading custom-brand"
                       href="{{ SITEURL }}/" title="Go to homepage">
                        <img src="{{ SITEURL }}/theme/images/4pi-logo.svg"
                             alt="{{ SITENAME }} {% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}" />
                    </a>
                </h1>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <!--{% for title, link in MENUITEMS %}
                        <li class="pure-menu-item">
                            <a class="pure-menu-link" href="{{ link }}">{{ title }}</a>
                        </li>
                    {% endfor %}
-->
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                      {% for cat, null in categories %}
                          <li {% if cat == category %} class="pure-menu-item selected"{% else %} class="pure-menu-item"{% endif %}>
                            <a class="pure-menu-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                          </li>
                      {% endfor %}
                    {% endif %}
                    
                    {% if DISPLAY_PAGES_ON_MENU %}
                      {% for p in pages %}
                        <li {% if p == page %}class="pure-menu-item selected"{% else %} class="pure-menu-item"{% endif %}>
                            <a class="pure-menu-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                        </li>
                      {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-3 search">
            <!--
            <form >
                <input type="text" />
                <button type="submit" class="pure-button pure-button-primary">Suche</button>
            </form>
            -->
        </div>
    </header>
    {% block hero %}
    {% endblock hero %}

    <div class="content clearfix" >
        <div class="pure-g">
            <div class="pure-u-1">
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="footer">
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="doormat">
    <div class="content">
        <div class="pure-g">
            <div class="pure-u-1-2 links">
                <abbr title="Copyright">&copy;</abbr> 2002 - 2016 Peter Reimer
                    <ul>
                        <li>
                            <a href="{{ SITEURL }}/downloads/">
                                Downloads
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/pages/impressum.html">
                                Impressum & Datenschutz
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/pages/kolophon.html">
                                Kolophon
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/pages/kontakt.html">
                                Kontakt
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="pure-u-1-2 social">
                <ul>
                    <li>
                        <a href="https://github.com/peterreimer">
                        <i class="fa fa-github-square"></i>
                        <span>github</span></a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/4pi">
                        <i class="fa fa-flickr"></i>
                        <span>flickr</span></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/4pi">
                        <i class="fa fa-twitter-square"></i>
                        <span>twitter</span></a>
                    </li>
                    {% if FEED_ALL_RSS %}
                      <li>
                        <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">
                        <i class="fa fa-rss-square"></i>
                        <span>rss</span></a>
                      </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
</footer>

{% block footer_javascript %}
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
{% endblock footer_javascript %}
</div>
</body>
</html>
