{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta property="og:type" content="place" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:description" content="{{ article.description }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
    <meta property="og:image" content="{{ SITEURL }}/{{ PANNELLUM.sizes_folder }}/{{article.scene}}/{{article.scene}}-preview.jpg" />
    <meta property="place:location:latitude"  content="{{ article.exif.lat}}" /> 
    <meta property="place:location:longitude" content="{{ article.exif.lng}}" /> 
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ TWITTER_USERNAME }}" />
    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}
    <meta name="description" contents="{{ article.description }}" />
    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pannellum.css" />
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/pannellum.js"></script> 
{% endblock %}

{% block title %}
    {{ article.title}} &mdash; {{ SITENAME }}
{% endblock title %}


{% block hero %}
  <div class="hero pannellum">
      <div class="content">
      <div id="panorama"></div>
      <script type="text/javascript" src="{{ SITEURL }}/theme/js/panorama.js"></script> 
      </div>
  </div>
{% endblock %}

{% block content %}
<section id="content">
{% include 'previous-next.html' %}

{% if PANNELLUM.debug %}
    <a href="tour.json">json</a>
{% endif %}

<article>
  <div class="pure-g">
      <div class="pure-u-1">
          <header>
          {% include 'metadata.html' %}
          </header>
      </div>
  </div>

  <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-1">
          <p>{{ article.content }}</p>
      </div>
  </div>
  <div class="pure-g">


      <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
          <h3>Wie?</h3>
            <dl class="exif">
                <dt>Kamera</dt>
                <dd>{{ article.exif.make }} {{ article.exif.model }}</dd>
                <dt>Objektiv</dt>
                <dd>{{ article.exif.lens }}</dd>
                <dt>Größe</dt>
                <dd>{{ article.exif.width }}x{{ article.exif.height }}&nbsp;px</dd>
                
                {% if article.exif.exposure %}
                    <dt>Verschlußzeit</dt>
                    <dd>1/{{ article.exif.exposure }}&nbsp;<abbr title="Sekunden">s</abbr></dd>
                {% endif %}
                
                {% if article.exif.count > 1 %}
                    <dt>Aufnahmen</dt>
                    <dd>{{ article.exif.count }}</dd>
                {% endif %}
                
                {% if article.exif.iso %}
                    <dt>ISO</dt>
                    <dd>{{ article.exif.iso }}</dd>
                {% endif %}
                
                {% if article.exif.taken %}
                    <dt>Aufgenommen</dt>
                    <dd>{{ article.exif.taken.strftime("%d.%m.%Y")  }}</dd>
                {% endif %}

                {% if article.exif.comment %}
                    <dt>Kommentar</dt>
                    <dd>
                        <ul>
                        {% for comment in article.exif.comment %}
                            <li>{{ comment }}</li>
                        {% endfor %}
                        </ul>
                    </dd>
                {% endif %}

                <dt>Breitengrad</dt>
                <dd>{{ article.Latitude }}</dd>
                <dt>Längengrad</dt>
                <dd>{{ article.Longitude }}</dd>
            </dl>
          <!--
            <pre>exif {{ article.exif }} </pre>
          -->
          </div>
      </div>
  
      <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
              <h3>Wo?</h3>
              <div id="map">
              </div>
          </div>
      </div>
  </div>
</article>
</section>

{% endblock %}

{% block footer %}
{% endblock %}



{% block footer_javascript %}
{{ super() }}
<script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/panomap.js"></script>
{% endblock footer_javascript %}
