<div class="post-navigation">

    <div class="post-previous">
    {% if article.prev_article %}
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}" title="{{ article.prev_article.title }}">
           <img src="{{ SITEURL }}/theme/images/arrow-previous.png" alt="zurück" />
        </a>
    {% endif %}
    </div>

    <div class="post-next">
    {% if article.next_article %}
        <a href="{{ SITEURL }}/{{ article.next_article.url}}" title="{{ article.next_article.title }}">
           <img src="{{ SITEURL }}/theme/images/arrow-next.png" alt="zurück" />
        </a>
    {% endif %}
    </div>
</div>   
